<%- include('partials/header') %>


<div class="container-sm">
  <h1 class="card-title">Make your Blog</h1>
      <form action="/blogs" method="POST">
       <div class="mb-3">
         <label  class="form-label">Title</label>
  <input class="form-control" type="text" name="blog[title]" placeholder="Title Here">
  <label  class="form-label">Image</label>
        <input class="form-control" type="text" name="blog[image]" placeholder="Image Here">
       </div>
       <div class="mb-3">
        <label  class="form-label">Description</label>
 <textarea class="form-control" name="blog[description]" rows="6" placeholder="description Here">

      </textarea>
       </div>
     
      <input class="btn btn-warning" type="submit" >
      </form>
</div>

<%- include('partials/footer') %>

